/* 1. General */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1a242d;
}

/* 2. Header Styles */
#header {
  color: #ecf0f1;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}

#site-name {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

#site-name a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s;
}

#site-name a:hover {
  color: #3498db;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* 3. Navigation Styles*/
#main-menu {
  display: flex;
  align-items: center;
}

#main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#main-menu li {
  margin: 0 15px;
}

#main-menu a {
  color: #ecf0f1;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: lighter;
  transition: color 0.3s, transform 0.3s;
}

#main-menu a:hover {
  color: #3498db;
  transform: scale(5.5);
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
  #header {
    flex-direction: column;
    align-items: flex-start;
  }

  #main-menu ul {
    flex-direction: column;
    align-items: flex-start;
  }

  #main-menu li {
    margin: 10px 0;
  }
}


/* 4. Profile image styles */


#home {
  text-align: center;
  padding: 20px;
}

.profile-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 150px;

  height: 150px;

  border-radius: 50%;

  object-fit: cover;

  border: 2px solid #2c3e50;

}

h3 {
  margin-top: 0;
  font-size: 2rem;
  color: antiquewhite;
}

p {
  color: #fff;
}



/* 5. Project card styles */

#projects {
  padding: 20px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  text-align: left;
}

.project-image {
  width: 100%;
  height: auto;
}

.project-details {
  padding: 15px;
}

.project-details h4 {
  margin: 10px 0;
  font-size: 1.25rem;
}

.project-details p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.project-links a {
  display: inline-block;
  margin: 5px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.project-links a:hover {
  text-decoration: underline;
}

/* 6. Skills card styles*/

#skills {
  padding: 20px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300 px;
  text-align: center;
  padding: 10px;
}

.skill-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

/* 7. Resume page styles */
#resume {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color:#ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

#resume h1 {
  font-size: 2rem;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 10px;
}

#resume h2 {
  font-size: 1.5rem;
  color: #34495e;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 5px;
  margin-top: 20px;
}

#resume p {
  margin: 10px 0;
  font-size: 1rem;
  color: #000;
}

#resume a {
  color: #2c3e50;
  text-decoration: none;
}

#resume a:hover {
  text-decoration: underline;
}

#resume ul {
  margin: 10px 0 20px 20px;
  padding-left: 0;
}

#resume ul li {
  margin-bottom: 5px;
  color: #2c3e50;
}

#resume ul li:before {
  color: #3498db;
  font-weight: bold;
}

#resume a[href$=".pdf"] {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #1a242d;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

#resume a[href$=".pdf"]:hover {
  background-color: #2980b9;
}

#resume p a:hover {
  text-decoration: underline;
}

#resume h1,
#resume h2,
#resume a {
  transition: all 0.3s ease;
}

/*  8. Footer styles */
#footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 40px;

}

#footer .contact-info p,
#footer .social-links a,
#footer .copyright p {
  margin: 10px 0;
}

#footer .contact-info a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: normal;
}

#footer .contact-info a:hover {
  color: #3498db;
  text-decoration: underline;
}

#footer .social-links a {
  display: inline-block;
  margin: 0 15px;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

#footer .social-links a:hover {
  color: #3498db;
}

#footer .copyright p {
  font-size: 0.9rem;
  color: #bdc3c7;
  margin-top: 20px;
  border-top: 1px solid #34495e;
  padding-top: 10px;
}

#footer .social-links a:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

#footer .social-links a[href*="linkedin"]:before {
  background-image: url('../src/assets/images/linkedinIcon.svg');
  background-size: contain;
}

#footer .social-links a[href*="github"]:before {
  background-image: url('../src/assets/images/githubIcon.svg');
  background-size: contain;
}