/* index.css */

/* Reset some basic styles */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 0;
}